{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">


    <h1 class="text-center my-5"> Accueil </h1>


</div>
{% endblock %}
