<nav class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">
                <i class="fas fa-home"></i>
                Accueil
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ path('admin_dashboard') }}">dashboard</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">connexion</a>
            </li>
        </ul>
    </div>
</nav>

<div class"container alerts">

{% for label, message in app.flashes %}

    <div class="alert alert-{{ label }} alert-dismissible show">
        
        {% for message in message %}
        
        <p class="text-center"> {{ message }} </p>

        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>

        {% endfor %}

    </div>

{% endfor %}
</div>